<%- include("../partials/header") %>

<div class="ui container main text">
    <div class="ui header huge">Blog App</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach(function(item){ %>
                <div class="item">
                    <div class="image">
                        <img src="<%= item.image %>" alt="image not found">
                    </div>
                    <div class="content">
                        <a class="header" href="/blogs/<%= item._id %>"><%= item.title %></a>
                        <div class="meta">
                            <span><%= item.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%- item.body.substring(0, 140) %> ...</p>
                        </div>
                        <div class="extra">
                            <a class="ui button purple inverted" href="/blogs/<%= item._id %>">
                                Read More
                                <i class="icon right chevron"></i>
                            </a>
                        </div> 
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

</div>

<%- include("../partials/footer") %>